.question{
    padding: 5rem 10rem;
}
li{
    padding: 1rem;
}
.failed {
    color: red;
    font-size: 40px;
    border:2px solid red;
    border-radius: 10px;
    padding: 20px 150px;
    position: absolute;
    transform: rotate(45deg) translate(600px, 150px) skewy(10deg);
}
.talk-to-teacher {
    color: black;
    font-size: 40px;
    border:2px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    position: absolute;
    transform: scaleX(1) scaley(2) translate(500px, 100px) skewX(10deg) skew(20deg,10deg);
}